<h1>Welcome!</h1>

<p>Find a product by...</p>

<form action="/products/results" method="POST">
<p>Search by:</p>
  <label for="search-box">Search Products by name: </label>
  <input type="text" name="search_term" id="search-box">
  <input type="submit" value="Submit">
</form>

<form action="/manufacturers/results" method="POST">
<p>Search by:</p>
  <label for="search-box">Search Manufacturers by name: </label>
  <input type="text" name="search_term" id="search-box">
  <input type="submit" value="Submit">
</form>
