<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Shop</title>
  </head>
  <body>
    <nav id="menu">
      <li class=""><a href='/products'>Show Inventory</a></li>
      <li class=""><a href='/manufacturers'>Show Manufacturers</a></li>
      <li class=""><a href='/'>Add a Product</a></li>
      <li class=""><a href='/'>Add a Manufacturer</a></li>
    </nav>
    <%= yield %>
  </body>
</html>
