<div class="wrapper">
  <div class="add">
    <form class="" action="/manufacturers/<%= @manufacturer.id %>" method="post">
      <label for="name">Name: </label>
      <input class="form_margin" type="text" name="name" id="name" value="<%= @manufacturer.name %>" required>
      <br>
      <label for="description">Description: </label>
      <input class="form_margin" type="text" name="description" id="description" value="<%= @manufacturer.description %>">
      <br>
      <label for="country">Country: </label>
      <input class="form_margin" type="text" name="country" id="country" value="<%= @manufacturer.country %>">
      <br>
      <label for="deactivated">Deactivated? </label>
      <select class="form_margin" name="deactivated" id="deactivated">
        <option value="no" <% if @manufacturer.deactivated == "no" %> selected="selected" <% end %> >No</option>
        <option value="yes" <% if @manufacturer.deactivated == "yes" %> selected="selected" <% end %> >Yes</option>
      </select>
      <br>
      <input class ="myButton" type="submit" value="Update this Manufacturer">
    </form>
  </div>
</div>
