<form class="" action="/manufacturers" method="post">
  <label for="name">Name: </label>
  <input class="" type="text" name="name" id="name">
  <br>
  <label for="description">Description: </label>
  <input class="form_margin" type="text" name="description" id="description">
  <br>
  <label for="country">Country: </label>
  <input class="form_margin" type="text" name="country" id="country">
  <br>
  <input class ="button" type="submit" value="Add Manufacturer">
</form>
