<div class="wrapper">
  <div class="add">
    <form class="" action="/manufacturers" method="post">
      <label for="name">Name: </label>
      <input class="form_margin" type="text" name="name" id="name" required>
      <br>
      <label for="description">Description: </label>
      <input class="form_margin" type="text" name="description" id="description">
      <br>
      <label for="country">Country: </label>
      <input class="form_margin" type="text" name="country" id="country">
      <br>
      <select class="" name="deactivated" id="deactivated" hidden>
        <option value="no" selected="selected"></option>
      </select>
      <input class ="myButton" type="submit" value="Add Manufacturer">
    </form>
  </div>
</div>
